<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
    <div class="flex justify-center p-10">
        <div>
            <h2 class="text-blue-600 text-3xl">Welcome <%= username %></h2>
            <div class="flex justify-center p-5">
                <a href="/logout" class="text-white bg-red-600 px-5 py-1 rounded-full hover:bg-red-700 transition text-sm">Logout</a>
            </div>
        </div>
    </div>
</body>
</html>